/build
/vendor
/.idea
/.vscode
/.vagrant
/public/hot
/node_modules
/storage/*.key
/composer.lock
/public/storage
/package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
yarn-error.log
npm-debug.log
composer.phar
.DS_Store
.env
