//@tailwind base;
//@tailwind components;
//@tailwind utilities;

// Notifications Customizations
[data-notify='container'] {
    font-weight: bold;
}

// DataTables
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 80px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 15px 0 30px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #444;
    font-size: 14px;
    background: url('../images/loading_bar.gif') no-repeat center 38px #fff;
    box-shadow: 2px 2px 5px #444;
    -moz-box-shadow: 2px 2px 5px #444;
    -webkit-box-shadow: 2px 2px 5px #444;
    z-index: 9999;
}

div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Fallback */
    background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* IE10 Consumer Preview */
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* Firefox */
    background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* Opera */
    background: -webkit-gradient(
        radial,
        center center,
        0,
        center center,
        497,
        color-stop(0, rgba(0, 0, 0, 0.3)),
        color-stop(1, rgba(0, 0, 0, 0.7))
    );
    /* Webkit (Safari/Chrome 10) */
    background: -webkit-radial-gradient(
        center,
        ellipse farthest-corner,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.7) 100%
    );
    /* Webkit (Chrome 11+) */
    background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* W3C Markup, IE10 Release Preview */
    z-index: 2001;
}

td.dt-details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.details td.dt-details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

.select-item {
    padding-left: 10px;
    padding-right: 10px;
}

// Style select2 error
.has-error .select2-selection {
    border: 1px solid #a94442;
}

// Custom
.tag-group,
.attribute-group {
    background-color: #eee !important;
}

// Dropzone
.dropzone {
    margin-bottom: 10px;
    border-style: dashed;

    .dz-message {
        font-size: 2em;
    }
}

.media-object {
    max-width: 150px;

    &.media-object-small {
        width: 130px;
    }
}

.large-icon {
    font-size: 63px;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    background: #fff;
    min-height: 400px;
    position: relative;
    padding: 20px 20px 60px 20px;
}

.profile-buttons {
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
}

.intl-tel-input {
    width: 100%;
}

/* Formbuilder */
.frmb.ui-sortable {
    min-height: 500px !important;
}

// intl-tel-input
.iti {
    display: block;
}

// datatables.mark
mark {
    background: orange;
    color: black;
}
