// Notifications Customizations
[data-notify='container'] {
    font-weight: bold;
}

// Pace CSS
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #fff;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

// DataTables
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 80px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 15px 0 30px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #444;
    font-size: 14px;
    background: url('../images/loading_bar.gif') no-repeat center 38px #fff;
    box-shadow: 2px 2px 5px #444;
    -moz-box-shadow: 2px 2px 5px #444;
    -webkit-box-shadow: 2px 2px 5px #444;
    z-index: 9999;
}

div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Fallback */
    background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* IE10 Consumer Preview */
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* Firefox */
    background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* Opera */
    background: -webkit-gradient(
        radial,
        center center,
        0,
        center center,
        497,
        color-stop(0, rgba(0, 0, 0, 0.3)),
        color-stop(1, rgba(0, 0, 0, 0.7))
    );
    /* Webkit (Safari/Chrome 10) */
    background: -webkit-radial-gradient(
        center,
        ellipse farthest-corner,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.7) 100%
    );
    /* Webkit (Chrome 11+) */
    background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
    /* W3C Markup, IE10 Release Preview */
    z-index: 2001;
}

td.dt-details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.details td.dt-details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

// Style select2 error
.has-error .select2-selection {
    border: 1px solid #a94442;
}

// Custom
.tag-group,
.attribute-group {
    background-color: #eee !important;
}

// Dropzone
.dropzone {
    margin-bottom: 10px;
    border-style: dashed;

    .dz-message {
        font-size: 2em;
    }
}

.media-object {
    max-width: 150px;

    &.media-object-small {
        width: 130px;
    }
}

.large-icon {
    font-size: 63px;
}

// Turbolinks
.turbolinks-progress-bar {
    height: 2px;
    background-color: #fff;
}
