html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f2f2f2;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway';
    font-weight: 300;
    color: #333;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background-color: #34495e;
    padding-top: 60px;
}

#headerwrap h1 {
    margin-top: 30px;
    color: white;
    font-size: 70px;
}

#headerwrap h3 {
    color: white;
    font-size: 30px;
}

#headerwrap h5 {
    color: white;
    font-weight: 700;
    text-align: left;
}

#headerwrap p {
    text-align: left;
    color: white;
}

/* intro Wrap */
#intro {
    padding-top: 50px;
    border-top: #bdc3c7 solid 5px;
}

#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

#features a[data-toggle='collapse'] {
    font-size: 20px;
}

#footerwrap {
    background-color: #2f2f2f;
    color: white;
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: left;
}

#footerwrap h3 {
    font-size: 28px;
    color: white;
}

#footerwrap p {
    color: white;
    font-size: 18px;
}

/* Copyright Wrap */
#copyright {
    bottom: 0;
    width: 100%;
    position: absolute;
    background: #222222;
    padding-top: 15px;
    text-align: right;
}

#copyright p {
    color: white;
}

.auth-page {
    background-color: #34495e;
}

.auth-form {
    margin-top: 25vh;
    margin-bottom: 25vh;
}

*[role='auth'] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 23px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

*[role='auth'] input,
*[role='auth'] button {
    margin: 16px 0;
}

*[role='auth'] label {
    margin: 16px 0 0 0;
}

*[role='auth'] > div {
    text-align: center;
}

.navbar-right {
    margin-right: 0;
}

/* Wizard */
.wizard {
    border: 1px solid #eaefe9;
    font-size: 14px;
    margin-top: 10px;
}

.wizard .panel {
    margin-bottom: 0;
}

.wizard-step {
    border-top: 1px solid #f2f2f2;
    color: #666;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

.wizard-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 6px;
    text-align: center;
    width: 32px;
}

.wizard-step-title {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
}

.registration-success {
    float: none;
    width: 150px;
    height: 150px;
    margin: 25px auto;
    background-image: url(../images/check-mark.svg);
}
